<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='task.header'}"></sly>
</sly>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="cont" style="margin-bottom:100px">
<header class="header">


<sly data-sly-list.firstlevel="${resource.listChildren}">

  <div class="subnav logo">
            <button class="subnavbtn baj">BAJAJ</button>
            <div class="subnav-content">
                <a href="#company">Company</a>
                <a href="#team">Team</a>
                <a href="#careers">Careers</a>
            </div>
        </div>


  <input class="menu-btn" type="checkbox" id="menu-btn" />

  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <ul class="menu">

    <div class="flex-cont">
    <div>
    <sly data-sly-list.secondlevel="${firstlevel.listChildren}">
<li> <a href="${secondLevel.links}">${secondlevel.multiTitle}</a></li>
     </sly>
     </div>
    <div class="gcse-search"></div>
    </div>





  </ul>


</sly>
</header>
</div>

<script async src="https://cse.google.com/cse.js?cx=45a8878a3b88845e6">
</script>

